.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
}

#product-list {
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 10px;
    text-align: center;
}

/* TODO resolver tema de la altura y imagenes responsive*/

.product-card {
    background-color: rgb(243 206 199 / 70%);
    display: inline-block;
    width: 100%;
    border-radius: 2em;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%);
    text-align: center;
    margin-top: 1em;
}

.card-content {
    width: 280px;
    margin: auto;
    text-align: center;
    margin-top: 0.5em;
}

.card-content p {
    color: #8d524b;
    font-weight: bold;
    font-size: 1em;
}

h2 {
    color: #16001e;
}

.product-card a {
    background-color: #16001e;
    color: #f3cec7;
    border: none;
    text-align: center;
    border-radius: 1em;
    width: 50%;
}

header div h1 a{
    height: 80px;
    width: 140px;
    margin: auto;
    font-size: 0 !important;
    display: block;
    background: no-repeat url(../res/logo.png);
}

.navbar li{
    display: inline-block;
    margin-left: 1em;
    color: #16001e;
}

.navbar li a{
    color: #16001e;
    font-size: 1em;
    text-decoration: none;
}

.product-card picture img {
    margin-top: 1.5em;
}

.card-content p, h3{
    font-weight: 400;
}

.see-more {
    background-color: #16001e;
    color: #f3cec7;
    width: 40%;
    border-radius: 5px;
    border: none;
    margin-bottom: 2em;
}



footer {
    text-align: center;
    height: 100px;
    padding: 2em;
    margin-top: 2em;
    color: #f3cec7;
    background-color: #8d524b;
}

.about p{
    font-size: 0.9em;
    color: #8d524b;
}



@media screen and (min-width: 1400px) {
    .about p{
        width: 80%;
    }
  }